<mat-card style="width: 320px; margin-bottom: 1rem;"appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ eat.alimento.name}}</mat-card-title>
        <mat-card-subtitle>{{ eat.alimento.energia | calories}}</mat-card-subtitle>
        <img mat-card-sm-image [src]="'data:image/jpeg;base64,' + eat.imageDTO.data" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <p style="font-weight: bolder; color: gray;">Valori nutrizionali per 100g</p>
        <mat-grid-list cols="2" rowHeight="6:1">
            <mat-grid-tile><span>Carboidrati:</span>{{ eat.alimento.carboidrati | grammi }}</mat-grid-tile>
            <mat-grid-tile><span>Grassi:</span>{{ eat.alimento.grassi| grammi }}</mat-grid-tile>
            <mat-grid-tile><span>Fibre:</span>{{ eat.alimento.fibre| grammi }}</mat-grid-tile>
            <mat-grid-tile><span>Proteine:</span>{{ eat.alimento.proteine| grammi }}</mat-grid-tile>
            <mat-grid-tile><span>Zuccheri:</span>{{ eat.alimento.zuccheri| grammi }}</mat-grid-tile>
          </mat-grid-list>
    </mat-card-content>
  </mat-card>
