nav {
    background-color: grey;
    color: white;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.active {
    text-decoration: underline;
}

ul {
    display: flex; 
    list-style: none; 
    gap: 1rem
}

li {
    cursor: pointer;
}

p {
    font-weight: bolder;
    font-size: 20px;
}