nav {
    background-color: rgb(14 17 81 / 83%);
    color: white;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active {
    text-decoration: underline;
}

ul {
    display: flex; 
    list-style: none; 
    gap: 1rem
}

li {
    cursor: pointer;
}

p {
    font-weight: bolder;
    font-size: 20px;
}
div{
    padding: 0.5rem;
    display: flex;
    align-items: center;
}