<nav>
    <div>
        <p>EatProject</p>
        <ul>
            <li routerLink="/plan-day" routerLinkActive="active">
                Plan
            </li>
            <li routerLink="/creat-eat" routerLinkActive="active">
                Crea Alimento
            </li>
            <li routerLink="/eat-day" routerLinkActive="active">
                Lista alimenti
            </li>
        </ul>
    </div>
    <div style="display: flex; gap: 7px;">
        @if (user$ | async; as user) {
        <p>{{user.name}} {{user.surname}} - </p>
        }
        @if (userBRM$ | async; as brm) {
        <p>Fabb: {{ brm | calories }}</p>
        }
    </div>
</nav>