.container-box-graph {
  display: flex;
  padding: 2rem;
  gap: 4rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}

.form {
  display: grid;
  gap: 10%;
  width: 20%;
  padding: 3rem;
}
