.container-box-graph {
  display: flex;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px; 
  margin: 0 auto;
}

.container-box-graph > * {
  flex: 1 1 calc(50% - 2rem);
  box-sizing: border-box;
  max-width: 500px;
}
.form {
  display: grid;
  gap: 5%;
  width: 20%;
  padding: 3rem;
}

p {
  color: rgb(14 17 81 / 83%);
  font-size: 20px;
  font-weight: bold;
}