<div class="container-box-graph">

    <form [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="form">
        <!-- <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" formControlName="name" matInput>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field> -->
        <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <mat-select formControlName="name">
            @if (eatAll$ | async; as eatAll) {
                @for (eat of eatAll; track eat) {
                <mat-option [value]="eat.alimento.name">{{eat.alimento.name}}</mat-option>
              }
            }
            </mat-select>
          </mat-form-field>

        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Grammi</mat-label>
            <input type="number" formControlName="grammi" matInput>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit">Ok</button>

    </form>

    <app-doughnut></app-doughnut>

</div>