.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 1%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.container-card > * {
  flex: 1 1 calc(50% - 1%);
  box-sizing: border-box;
}

.paginator {
  display: flex !important;
  align-items: flex-end !important;
  flex-wrap: wrap !important;
  width: 100% !important;
  text-align: center !important;
  min-height: var(--mat-paginator-container-size) !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-content: flex-end !important;
}
